* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    text-align: center;
    font-family: "Dekko", Helvetica;
    font-size: xx-large;
    max-width: 100%;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 55vh;
    width: 55vh;
    margin: auto;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow:  20px 20px 10px #bebebe, -20px -20px 10px #ffffff;
}

.cell {
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.control-box {
    padding: 20px;
}

.button-box {
    margin: auto;
    width: 60vh;
}

.editor, .grid-sizer {
    display: inline-block;
}

.editor{
    background-color: transparent;
    border: none;
    transition: 0.5s;
}

.editor:hover, .editor:focus {
    scale: 1.5;
}

.editor > img{
    width: 40px;
}

.grid-sizer {
    margin: auto;
    flex-direction: column;
    width: 200px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    color: var(--primary-light);
    font-size: x-large;
}

#github-link {
    width: 40px;
    height: auto;
    transition: 0.5s;
}

#github-link:hover, #github:focus {
    scale: 1.1;
}